

      <!-- Contact Form -->
      {% include form.html %}

      <!-- Sitemap -->
      <footer>
        <div class="company-info">
          <section class="info-section">
            <h3>Information</h3>
            <p>ASG is California Certified Small Business Enterprise (SBE), Disadvantaged Owned Business Enterprise (DBE) and Disable Veteran Owned Business Enterprise (DVBE) firm.</p>
            <br><br><br>
            <small><span class="cert">SBE DBE DVBE</span> Certified</small>
          </section>

          <section class="info-section">
            <h3>Our People</h3>
            <ul style="list-style: none;">
              <li><strong style="color: #fff; font-weight: 600">Our management and field teams consists of a specialized staff of over 40 in-house full-time safety professionals of which almost 50% are military veterans.</strong></li>
              <li>Airport Security</li>
              <li>Certified Industrial Hygienists</li>
              <li>Certified Safety Professionals</li>
              <li>DHS Certified Lead-Related Construction Inspectors/Assessors</li>
              <li>F/T and P/T Health & Safety Officers Level 2-5</li>
              <li>Field Technicians</li>
              <li>Registered Environmental Assessors</li>
              <li>State of California Certified Asbestos Consultants</li>
            </ul>
          </section>
          <section class="info-section">
            <h3>Areas of experience</h3>
            <ul style="list-style: none; padding:5px">
              <li>Accident and claims investigation</li>
              <li>Asbestos and lead consulting</li>
              <li>Confined spaces assessment</li>
              <li>Emergency response coordination</li>
              <li>Expert witness testimony</li>
              <li>Hazard communicationprogram development</li>
              <li>Hazard identification</li>
              <li>Hazardous materials and waste management</li>
              <li>Health and safety management and training</li>
              <li>IIPP and APP program evaluation and audits</li>
              <li>Industrial hygiene safety </li>
              <li>Job hazard assessment</li>
              <li>Policy and procedure development</li>
              <li>Safety audits</li>
              <li>Site assessments</li>
            </ul>
          </section>
        </div>
    </footer>
