<!-- TODO: Add input error message to display above form after failed submissions -->
<div id="contact-form-wrapper">
  <h2>Contact Us</h2>

  <!-- Begin Contact Form -->
  <form id="contact" action="https://formspree.io/fapple@morgnerco.com" method="POST" autocomplete="on">

    <div class="inputs">
      <!-- Left side: Name, Email, Subject -->
      <fieldset id="name-email-subject" class="half left">

        <!-- Name -->
        <label for="name">Name <span class="req">*</span></label>
        <input id="name" type="text" name="name" class="cf field" value="" autocomplete="name" spellcheck="false" placeholder="Name *" required="required">
        <!-- Email -->
        <label for="email">Email <span class="req">*</span></label>
        <input id="email" type="email" name="_replyto" class="cf field" value="" autocomplete="email" spellcheck="false" placeholder="Email *" required="required">

        <!-- Subject -->
        <label for="subject">Subject</label>
        <input id="subject" type="text" name="subject" class="cf field" value="" autocomplete="off" spellcheck="true" placeholder="Subject">
      </fieldset>

      <!-- Right side: Message -->
      <section class="half right cf">
        <label for="message">Your Message <span class="req">*</span></label>
        <textarea id="message" name="message" spellcheck="true" placeholder="Type your message here" required="required"></textarea>
      </section>
    </div>

    <!-- Submit button -->
    <div class="submit-button">
      <label class="screen-reader-text" for="submit">Submit</label>
      <button id="submit" value="send" type="submit">submit</button>
    </div>

  </form>
</div>
