<!doctype html>
<html class="no-js" lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Social media -->
    <meta property="og:url" content="{{ page.url }}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{  page.title }}">
    <meta property="og:image" content={% if page.hero %} "{{ page.hero }}" {% else %} "{{ site.hero }}" {% endif %}/>
    <meta property="og:description" content="{{ site.description }}">
    <meta property="og:site_name" content="{{ site.title }}">
    <meta property="og:locale" content="en_US">
    <meta name="twitter:card" content="summary">
    <!-- <meta name="twitter:site" content=""> -->
    <meta name="twitter:url" content="{{ page.url }}">
    <meta name="twitter:title" content="{{ page.title }}">
    <meta name="twitter:description" content="{{ site.description }}">
    <meta name="twitter:image" content="{{ site.logo }}">

    <title>{{ page.title }}</title>
    <meta name="description" content="{{ page.description }}">

    <link rel="stylesheet" href="/assets/css/main.css">
    <style>
      @import url('https://fonts.googleapis.com/css?family=Fira+Sans&display=swap');
    </style>
    <!-- <link href="/photon/static/style.css" rel="stylesheet"> -->
    <!-- <link rel="canonical" href="/photon/visuals/typography.html"> -->
    <!-- <link rel="alternate" type="application/rss+xml" title="Photon Design System" href="/photon/feed.xml"> -->

    <!-- FAVICON HERE -->

  </head>

  <body></body>

</html>
