<section class="container">
    <div class="row active-with-click">

            <div class="col-md-5 col-sm-6 col-xs-12">
                <article class="material-card">

                        <div class="mc-content">
                            <div class="img-container">
                            <img class="img-responsive" src="/assets/images/project-pictures/scott-blake.jpg" alt="A photograph of a construction site.">
                    </div>
                </article>
            </div>
       
        
            <div class="col-md-5 col-sm-6 col-xs-12">
                <article class="material-card">

                    <div class="mc-content">
                        <div class="img-container">
                            <img class="img-responsive" src="/assets/images/project-pictures/central-region-elementary-school.jpg" alt="A photograph of Central Region Elementary School">
                        </div>
                    </div>
                </article>
            </div>

            <div class="col-md-5 col-sm-6 col-xs-12">
                <article class="material-card">

                    <div class="mc-content">
                        <div class="img-container">
                            <img class="img-responsive" src="/assets/images/project-pictures/cranes-unsplash.jpg" alt="A photograph of cranes over a construction site">
                        </div>
                    </div>
                </article> 
            </div>

        <div class="col-md-5 col-sm-6 col-xs-12">
            <article class="material-card">

                <div class="mc-content">
                    <div class="img-container">
                        <img class="img-responsive" src="/assets/images/project-pictures/jerry-l-pettis-memorial-veterans-medical-center.jpg" alt="A photograph of the Jerry L Pettis Memorial Veterans Medical Center">
                    </div>
    
                </div>
            </article>
        </div>
        <div class="col-md-5 col-sm-6 col-xs-12">
            <article class="material-card">

                <div class="mc-content">
                    <div class="img-container">
                        <img class="img-responsive" src="/assets/images/project-pic-hardhats.jpg" alt="A photograph of hardhats on a shelf">
                    </div>
                </div>
            </article>
        </div>
        <div class="col-md-5 col-sm-6 col-xs-12">
            <article class="material-card">
                <div class="mc-content">
                    <div class="img-container">
                        <img class="img-responsive" src="/assets/images/project-pictures/loma-linda.jpg" alt="A photograph of a building">
                    </div>
                </div>
            </article>
        </div>


    </div>
</section>