/**
  * Project mixins
  * any group of CSS properties that appears together frequently, and not due to coincidence, are candidates for mixins!
  *
  * Declaration order guidelines:
  * * Positioning: position, z-index, top, right, bottom, left
  * * Display & box model: display, overflow, box-sizing, width, height, padding, border, margin
  * * Other: background, color, fonts...
  */

//

// Add default flex-box properties to ruleset
@mixin flex($justify: center, $align: center) {
  -webkit-box-pack: $justify;
  -ms-flex-pack: $justify;
  -webkit-box-align: $align;
  -ms-flex-align: $align;
  display: flex;
  align-items: $align;
  justify-content: $justify;
}

@mixin flexcol($justify: center, $align: center) {
  @include flex(#{$justify}, #{$align});
  flex-direction: column;
}

@mixin flexwrap($wrap: wrap) {
  flex-wrap: $wrap;
}

@mixin coverimg {
  -o-object-fit: cover;
  -o-object-position: center center;
  object-fit: cover;
  object-position: center center;
}

@mixin cubic-bez($property: all, $dur: .3s) {
  transition: $property $dur cubic-bezier(.07,.95,0,1);
}

@mixin cubic-bez-2($prop1, $dur1, $prop2, $dur2) {
  transition: $prop1 $dur1 cubic-bezier(.07,.95,0,1), $prop2 $dur2 cubic-bezier(.07,.95,0,1);
}

@mixin heading-3-4 {
  h3, h4 {
    color: $white;
    font: 700 1.5 $ff-body;
    text-transform: uppercase;
    line-height: 1em;
    padding-bottom: 5px;
  }
}


// Smooth transitions
@mixin transitions($property: all, $time: .3s, $function: ease-in-out) {
  transition:$property $time $function;
 	-o-transition:$property $time $function;
 	-moz-transition:$property $time $function;
 	-webkit-transition:$property $time $function;
}
