/**
  * Project Variables
  * Variables should only be defined if:
  * * 1. the value is repeated more than once
  * * 2. the value is likely to be updated
  * * 3. all occurences of the value are tied to the variable, no coincidence
  */

// Site fonts --------------------------------------------------------
$ff-fira: 'Fira Sans';
$ff-roboto: 'Roboto';
$ff-oswald: 'Oswald';
$ff-montserrat: 'Montserrat';

$ff-body: $ff-fira, $ff-roboto, sans-serif;
$ff-nav: $ff-montserrat, sans-serif;
$ff-alt: $ff-nav;
$ff-heading: $ff-oswald;

// Colors ------------------------------------------------------------
$white:         #fff;
$black:         #110f10;
$gray-dark:     #8d99a7;
$gray-light:    #c5d2e0;

// $blue-navy: #29235b;
// $blue-midnight: #1d1651;
// $blue-true: #1e22ff;
// $blue-dodger: #1e63ff;
// $cyan: #00DDFF;
// $yellow: #ffc108;

$blue-true: #184d91;
$blue-dark: #002663;
$blue-light: #5478c2;

$yellow-true: #e9b138;
$yellow-dark: #b38200;
$yellow-light: #ffe36a;


// Color usage -------------------------------------------------------
$primary: $blue-true;
$p-dark: $blue-dark;
$p-light: $blue-light;

$primary-font: $white;
$p-dark-font: $white;
$p-light-font: $black;

$secondary: $yellow-true;
$s-dark: $yellow-dark;
$s-light: $yellow-light;

$secondary-font: $black;
$s-dark-font: $black;
$s-light-font: $black;

$color-body-bkg: $white;

$color-branding-font: $p-dark;
$color-subheading-font: $p-dark;
$color-links-font: $primary;
$color-body-font-main: $black;
$color-alt-font: $white;



// Animations --------------------------------------------------------
