/**
  * Declaration order guidelines:
  * * Positioning: position, z-index, top, right, bottom, left
  * * Display & box model: display, overflow, box-sizing, width, height, padding, border, margin
  * * Other: background, color, fonts...
  */

/**
  * Parent container of button links
  * used to prevent hover-expansion from affected rest of layout
  */

.submit-button {
    width: 300px;
    margin: 0 auto;
}

#submit {
  @include cubic-bez(opacity, .3s);
  padding: 20px;
  margin: 0 auto;
  width: 300px;
  border: none;
  border-radius: 50px;
  background: $secondary;
  font: 600 10pt $ff-body;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: $primary-font;
  cursor: pointer;
  opacity: 1;

  &:hover {
    opacity: .7;
  }
}