
@-webkit-keyframes "fa-spin-fast" {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes "fa-spin-fast" {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
+ {
    .fa-spin-fast {
        -webkit-animation: fa-spin-fast .2s infinite linear;
        animation: fa-spin-fast .2s infinite linear;
    }
}



.card-wrapper {
    display: flezx;
    // background-color: $white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 100%;
    width: 100%;
}

.material-card {
    position: relative;
    height: 100%;
    padding-bottom: 100px;
    margin-bottom: 6.6em;

    h3 {
        position: absolute;
        top: calc(100% - 16px);
        left: 0;
        padding: 10px 16px;
        color: $white;
        line-height: 1.6em;
        margin: 0;
        z-index: 10;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        -ms-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
        span {
            display: block;
        }
        strong {
            font-weight: 400;
            display: block;
            font-size: .8em;
        }
        &:before {
            content: ' ';
            position: absolute;
            left: 0;
            top: -16px;
            width: 0;
            // border: 8px solid;
            -webkit-transition: all .3s;
            -moz-transition: all .3s;
            -ms-transition: all .3s;
            -o-transition: all .3s;
            transition: all .3s;
        }
        &:after {
            content: ' ';
            position: absolute;
            left: 0;
            top: -16px;
            width: 0;
            // border: 8px solid;
            -webkit-transition: all .3s;
            -moz-transition: all .3s;
            -ms-transition: all .3s;
            -o-transition: all .3s;
            transition: all .3s;
            top: auto;
            bottom: 0;
        }
    }
    .mc-content {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 16px;
        left: 16px;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        -ms-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
    }
    .mc-btn-action {
        position: absolute;
        right: 16px;
        top: 15px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        border: 5px solid;
        width: 54px;
        height: 54px;
        line-height: 44px;
        text-align: center;
        color: #fff;
        cursor: pointer;
        z-index: 20;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        -ms-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
    }
    .mc-description {
        position: absolute;
        top: 100%;
        right: 30px;
        left: 30px;
        bottom: 54px;
        overflow: hidden;
        opacity: 0;
        filter: alpha(opacity=0);
        -webkit-transition: all 1.2s;
        -moz-transition: all 1.2s;
        -ms-transition: all 1.2s;
        -o-transition: all 1.2s;
        transition: all 1.2s;
    }
    .mc-footer {
        height: 0;
        overflow: hidden;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        -ms-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
        h4 {
            position: absolute;
            top: 200px;
            left: 30px;
            padding: 0;
            margin: 0;
            font-size: 16px;
            font-weight: 700;
            -webkit-transition: all 1.4s;
            -moz-transition: all 1.4s;
            -ms-transition: all 1.4s;
            -o-transition: all 1.4s;
            transition: all 1.4s;
        }
        a {
            display: block;
            float: left;
            position: relative;
            width: 52px;
            height: 52px;
            margin-left: 5px;
            margin-bottom: 15px;
            font-size: 28px;
            color: #fff;
            line-height: 52px;
            text-decoration: none;
            top: 200px;
            &:nth-child(1) {
                -webkit-transition: all .5s;
                -moz-transition: all .5s;
                -ms-transition: all .5s;
                -o-transition: all .5s;
                transition: all .5s;
            }
            &:nth-child(2) {
                -webkit-transition: all .6s;
                -moz-transition: all .6s;
                -ms-transition: all .6s;
                -o-transition: all .6s;
                transition: all .6s;
            }
            &:nth-child(3) {
                -webkit-transition: all .7s;
                -moz-transition: all .7s;
                -ms-transition: all .7s;
                -o-transition: all .7s;
                transition: all .7s;
            }
            &:nth-child(4) {
                -webkit-transition: all .8s;
                -moz-transition: all .8s;
                -ms-transition: all .8s;
                -o-transition: all .8s;
                transition: all .8s;
            }
            &:nth-child(5) {
                -webkit-transition: all .9s;
                -moz-transition: all .9s;
                -ms-transition: all .9s;
                -o-transition: all .9s;
                transition: all .9s;
            }
        }
    }
    .img-container {
        overflow: hidden;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        max-height: 250px;
        z-index: 3;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        -ms-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
        // background: url('/assets/images/project-pictures/central-region-elementary-school.jpg');
        background-size: cover;
        overflow-x: hidden;
    }
}
.material-card.mc-active {
    h3 {
        top: 0;
        padding: 10px 16px 10px 90px;
        &:before {
            top: 0;
        }
        &:after {
            bottom: -16px;
        }
    }
    .mc-btn-action {
        top: 62px;
    }
    .img-container {
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        left: 0;
        top: 12px;
        width: 60px;
        height: 60px;
        z-index: 20;
    }
    .mc-content {
        padding-top: 5.6em;
    }
    .mc-description {
        top: 50px;
        padding-top: 5.6em;
        opacity: 1;
        filter: alpha(opacity=100);
    }
    .mc-footer {
        overflow: visible;
        position: absolute;
        top: calc(100% - 16px);
        left: 16px;
        right: 0;
        height: 82px;
        padding-top: 15px;
        padding-left: 25px;
        a {
            top: 0;
        }
        h4 {
            top: -32px;
        }
    }
}


@media screen and (max-width: 767px) {
    .material-card.mc-active {
        padding-bottom: 0;
        height: auto;
        .mc-content {
            position: relative;
            margin-right: 16px;
        }
        .mc-description {
            z-index: 999;
            position: relative;
            top: auto;
            right: auto;
            left: auto;
            padding: 50px 30px 70px 30px;
            bottom: 0;
        }
    }
}


