#contact-form-wrapper {
  @include flexcol;
  @include flexwrap;
  @include heading-3-4;
  @include cubic-bez-2(font-size, .3s, width, .4s);
  width: 100%;
  height: 100%;
  background: $p-dark;

  h2 {
    padding-top: 30px;
    color: $color-alt-font;
  }
}

form {
  width: 100%;
  padding: 10px 20px;
}

  .inputs {
    @include flex(space-around, center);
    @include flexwrap(wrap);
    margin: 20px auto 0;
    text-align: center;

    @media (min-width: 800px) {
      width: 800px;
    }

    @media (max-width: 800px) {
      width: 100%;
    }

    fieldset {
      @include flexcol(center, center);
    }

    input,
    textarea {
      display: block;
      width: 100%;
      margin-bottom: 15px;
      padding: 1.1em;
      border: none;
      border-radius: 2px;
      resize: none;
      font: 400 12pt $ff-body;
      color: $p-dark;

      &:focus {
        outline: rgba($p-light, .8);
        color: $primary;
        text-transform: none;
      }
    }

    input {
      height: 60px;
      line-height: 1.5em;
    }

    textarea {
      align-self: center;
      height: calc(60px * 3 + 30px);
    }

    .half {
      width: 48%;
      margin-bottom: 1em;
      float: left;
    }

    .right {
      @include flexcol(stretch, center);
      width: 50%;
    }

    .left {
      margin-right: 2%;
    }

    @media (max-width: 860px) {
      margin-bottom: 20px;
    }

    @media (max-width: 700px) {
      input {
        height: 40px;
      }

      .half {
        width: 100%;
        margin-bottom: 0;
        float: none;
      }

      .left {
        margin: 0;
      }
    }
  }


/* Clearfix */
.cf:after,
.cf:before {
  /* 1 */
  display: table;
  content: ' ';
  /* 2 */
}

.cf:after {
  clear: both;
}
