/**
  * Site footer style
  *
  * Declaration order guidelines:
  * * Positioning: position, z-index, top, right, bottom, left
  * * Display & box model: display, overflow, box-sizing, width, height, padding, border, margin
  * * Other: background, color, fonts...
  */

footer, {
  @include flexcol(space-around, center);
  width: 100vw;
  height: auto;
  background: $p-dark;
  font-size: 12pt;
  font-weight: 300;

  .company-info {
    @include heading-3-4;
    @include flex(space-around, baseline);

    flex-direction: row;
    background-color: rgba($primary, .5);
    background-blend-mode: multiply;
    color: $primary-font;
    width: 100%;
    margin: 0 50px;
    padding: 50px;
    position: relative;

    .info-section {
      width: 30%;
      padding: 10px;
      margin: 0 10px;

      p {
        padding-bottom: 10px;
      }

      li {
        padding: 5px 0;
      }
    }



      // &::after {
      //   display: block;
      //   z-index: 6;
      //   position: absolute;
      //   bottom: -0.1em;
      //   left: 0;
      //   width: 100%;
      //   height: 1.5px;
      //   background-color: $white;
      //   content: ' ';
      // }
    }
  }

  .copyright-wrapper {
    @include flex;
    align-self: center;
    padding: 1.5em;
    width: 100%;
    color: $primary-font;
    background-color: rgba($primary, .5);
  }


.mission-statements {
  list-style: none;
}


// Begin contact form styling ------------------------------------------------------
