/**
  * Site header style
  *
  * Declaration order guidelines:
  * * Positioning: position, z-index, top, right, bottom, left
  * * Display & box model: display, overflow, box-sizing, width, height, padding, border, margin
  * * Other: background, color, fonts...
  */

// Header wrapper ---------------------------------------------------
.header {
  @include flex(space-between, center);
  width: 100vw;
  height: 40vh;
  margin: auto;
  padding: 1em 2.7rem 2.7rem 2.7rem;
  background: $color-body-bkg;
}

.company-info {
  @include flexcol;
  padding-bottom: 22px;

  #company-name {
    margin: 0;
    padding: 40px 0 5px;
    color: $p-dark;
    font: 600 2.5rem $ff-heading;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  #company-motto {
    align-self: flex-start;
    padding: 5px 15px;
    background: $primary;

    > h2 {
      color: $primary-font;
      font: 700 .8em $ff-body;
      font-size: .8em;
      font-style: italic;
      font-weight: 700;
      padding-bottom: 0;

      @media (max-width: 570px) {
        font-size: .6em;
    }
    }
  }
}

// -------------------------------------------------------------------

// Navigation --------------------------------------------------------

.nav {
  background: transparent;

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      padding-left: 2.5rem;
      font: 700 .875rem $ff-nav;
      letter-spacing: 2px;
      text-transform: uppercase;

      > a {
        @include cubic-bez(color, 1s);

        color: $primary;
        line-height: 1.5em;
        text-decoration: none;

        &:hover {
          color: linear-gradient($secondary 0%, $s-light 100%);
        }

        &:active {
          border: 1px dotted $p-light;
        }
      }

      &:last-child {
        padding-right: 1.5rem;
      }
    }
  }
}
