.parallax-card-wrapper {
  @include flexcol;

  position: relative;
  width: 100vw;
  height: 100%;
  padding-top: 0;
  overflow: hidden;

  &.banner {
    height: 100vh;

    @media (max-width: 860px) {
      height: 100%;
    }
  }

  @media (max-width: 860px) {
    height: 100%;
  }
}

.parallax-card {
  @include flexcol;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 50px;
  font-family: $ff-body;

  .inner {
    @include flexcol;
    align-self: center;

    max-width: 900px;
    padding: 50px;
    font-size: 18pt;
    text-align: center;

    h3 {
      font-size: 1.1em;
      font-weight: 300;

      @media (max-width: 570px) {
        font-size: .9em;
      }
    }

    &.alt,
    &.alt > h2 {
      color: $color-alt-font;
    }

    &.cards {
      max-width: 100%;
      width: 1170px;
      height: 100%;
    }

  @media (max-width: 860px) {
    padding: 20px;
    height: 150vh;
  }
  }

  @media (max-width: 570px) {
    padding: 0;
    height: 175vh;
    font-size: 16pt;
  }
}

#about {
  background: url('/assets/images/overlay-tri-70.svg'),
  url('/assets/images/overlay-tri-50.svg'),
url('/assets/images/overlay-tri-30.svg'),
url('/assets/images/layout-aboutme--anthony-ginsbrook-edit.jpg');
  background-attachment: fixed; background-blend-mode: multiply;
  background-position: center center; background-repeat: no-repeat;
  background-size: cover;
  height: 100%;

  .sub-about {
    font-size: .7em;
    padding: 20px;
    transition: font-size .3s ease;

    @media (max-width: 860px){
      font-size: .8em;
    }

    @media (max-width: 570px) {
      font-size: 1em;
      padding: 0;
    }

    @media (max-width: 490px) {
      font-size: 12pt;
    }
  }
}

#services {
  height: 100%;

  > .parallax-card {
    height: unset;
  }

  .row {
    @include flex(space-evenly, flex-start);
    @include flexwrap;
    width: 100%;
    height: 100%;

    .service {
      @include flexcol(flex-start, center);
      width: 48%;
      max-width: 400px;
      font-size: .8em;
      text-align: justify;

      @media (max-width: 900px) {
        margin: 0 20px;
      }

      @media (max-width: 900px) {
        width: 100%;
        margin-top: 20px;
      }
    }

    @media (max-width: 860px) {
      height: calc(100% + 100px);
      position: relative;
      z-index: 999;
    }
  }
}

#projects {
  z-index: 1;
  position: relative;

  background: linear-gradient(rgba($primary, .5) 0%, rgba($p-dark, .9) 100%), url('/assets/images/layout-projects-aerial-workers-on-site--scott-blake.jpg');
  background-attachment: fixed;
  background-blend-mode: multiply;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
