/**
  * Standard styles for commonly used HTML elements
  *
  * Declaration order guidelines:
  * * Positioning: position, z-index, top, right, bottom, left
  * * Display & box model: display, overflow, box-sizing, width, height, padding, border, margin
  * * Other: background, color, fonts...
  */

* {
  box-sizing: border-box;
  //outline: 1px solid hotpink  // uncomment to debug layout
}

* {
  &::after,
  &::before {
    box-sizing: border-box;
  }
}

body {
  @include flexcol;
  @include cubic-bez;

  overflow-x: hidden;
  background: $color-body-bkg;
  color: $color-body-font-main;
  font: 300 18px $ff-body;
  transition: font-size .3s ease;

  @media (max-width: 800px) {
    font-size: 13pt;
  }
}

p {
  padding:.5em 0;
}

label {
  position: absolute;
  top: -9999px;
  left: -9999px;
  display: none;
}

.main {
  @include flexcol;
  flex: 1;
  margin: 0 auto;

  a {
    @include cubic-bez-2(color, .3s, background-color, .4s);

    display: inline-block;
    z-index: 1;
    position: relative;
    height: 100%;
    padding: 4px 3px 0;
    color: $primary;
    font-weight: 400;
    line-height: 1em;
    text-decoration: none;

    &::after {
      @include cubic-bez;

      display: block;
      z-index: -1;
      position: absolute;
      bottom: -0.1em;
      left: 0;
      width: 100%;
      height: 1.5px;
      background-color: $primary;
      content: ' ';
    }

    &:hover {
      background-color: transparent;
      color: $p-light-font;

      &::after {
        height: 100%;
        background-color: $p-light;
      }
    }
  }
}

.img-responsive {
  display:block;
  max-width:100%;
  height:auto
}

.img-rounded {
 border-radius:6px
}
.img-thumbnail {
 display:inline-block;
 max-width:100%;
 height:auto;
 padding:4px;
 line-height:1.42857143;
 background-color:transparent;
 border:1px solid #ddd;
 border-radius:4px;
 transition:all .2s ease-in-out
}
.img-circle {
 border-radius:50%
}
