/**
  * Typography rules
  *
  * Declaration order guidelines:
  * * Positioning: position, z-index, top, right, bottom, left
  * * Display & box model: display, overflow, box-sizing, width, height, padding, border, margin
  * * Other: background, color, fonts...
  */

h1, h2, h3, h4 {
  font-family: $ff-heading;
  letter-spacing: 1px;
}

h2 {
  font-weight: 600;
  font-size: 3.2rem;
  letter-spacing: 1.5px;
  color: $p-dark;
  padding-bottom: 30px;
  font-family: $ff-alt;
  letter-spacing: normal;
}

h3 {
  font-size: 1.4em;
  font-weight: 500;
  margin-bottom: .8em;
}

h4 {
  font-size: 1em;
}

strong {
  color: $p-dark;
}

.tagline {
  font-size: 1.8em;
  font-weight: 700;
}

.copyright {
  font-size: 0.8em;
  font-weight: 400;
  letter-spacing: 0.13em;
  text-transform: uppercase;
}

.cert {
  font-weight: 600;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
